@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.player-wrapper {
  position: relative;
  border-radius: 5px;
}

.react-player__preview {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}
